body{
  margin: 0px;
}

.navbar {
  padding: 10px;
  height: 50px;
  display: grid;
  align-content: center;
  grid-template-columns: 70px auto 90px 50px 40px 70px 40px 30px;
  font: 400 11px system-ui;
  font-weight: 600;
  color: #484848;
  border-bottom: 1px solid rgb(228, 228, 228) !;
  border-bottom-width: 1px ;
  border-bottom-style: solid ;
  border-bottom-color: rgb(228, 228, 228) ;
}

.circle {
  height: 20px;
  width: 20px;
  background-color: grey;
  border-radius: 50%;
}

.icon {
  place-self: start;
}

.item {
  height: 100%;
  text-align: center;
}

.page {
  display: flex;
  align-items: center;
}

.pagebody {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  padding-left:30px;
  padding-right: 30px;
}


.search {
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 10px;
  font-weight: 800 ;
  cursor: text;
  height: 40px;
  width: 70%;
  border: 1px solid #EBEBEB ;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1) ;
}

.airbnb-icon {
  height: 100%;
}

.exp-img{
  width: 100%;
  height: 190px;
  background-color: #9de9f2;
}
.experiences {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.sectionheading{
  font-weight: 800 ;
  margin-bottom: 0px ;
  font-size: 20px ;
  line-height: 30px ;
  letter-spacing: normal ;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
  color: rgb(72, 72, 72) ;
  padding-top: 2px ;
  padding-bottom: 2px ;
}

.exp-name {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
  font-size: 10px ;
  font-weight: 800 ;
  line-height: 1.33333em ;
  color: rgb(118, 118, 118) ;
  text-transform: uppercase ;
}

.exp-desc {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
  font-size: 12px ;
  font-weight: 800
}

.exp-cost {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
  font-size: 10px ;
  font-weight: 400;
}

.locations {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-template-rows: 190px;
}

.location{
  width: 100%;
  height: 190px;
  background-color: #fcca88;
}

.section {
  margin-bottom: 20px;
}
